!!! 5
html
  head
    title Test
    link(href="stylesheets/global.css")
    link(href="stylesheets/reset.css")
    link(href="stylesheets/styles.css")
    link(href="stylesheets/index.css")
  body
    h1 Test
    script(src="javascripts/app.js")
