doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection", content="telephone=no")
    meta(name="description", content="A front-end template that helps you build fast, modern mobile web apps.")
    meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi")

    title V3

    // Add to homescreen for Safari on iOS
    meta(name="mobile-web-app-capable", content="yes")
    link(rel="icon", sizes="128x128", href="img/icons/128.png")

    // Add to homescreen for Safari on iOS
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="Player FM")

    block stylesheet

  body(data-role="application")

    block content

    block javascript
